.connection{
    background: $color-tertiary;
    z-index: 2;
}


.background-img{
    position: absolute;
    z-index: 0;
    // mix-blend-mode: screen;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#root{
    height: 100%;
}

body{
    height: 100%;
}

html{
    height: 100%;
}

.connection{
    height: 100%;
}