.top-profil-content{
    width: 100%;
    height: 125px;

    & h1{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (max-width: 400px){
        height: 117%;
        text-align: center;
        font-size: larger;
        }
    }
}

.profil{
    display: grid;
    grid-template-columns: 85px 1fr;
    @media (max-width: 400px){
        grid-template-columns: 15px 1fr 6px;
    }
}

.profil-container{
    grid-column-start: 2;
}