#bloc_page{
    width: auto;
}

body{
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bolder;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.errors{
    color: red;
    font-weight: bolder;
}

.password-error{
    color: red;
    font-weight: bolder;
}

.email-error{
    color: red;
    font-weight: bolder;
}

.password-conf-error{
    color: red;
    font-weight: bolder;
}

.pseudo-error{
    color: red;
    font-weight: bolder;
}