@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Black.ttf);
    src: url(../fonts/Lato-BlackItalic.ttf);
    src: url(../fonts/Lato-Bold.ttf);
    src: url(../fonts/Lato-BoldItalic.ttf);
    src: url(../fonts/Lato-Italic.ttf);
    src: url(../fonts/Lato-Light.ttf);
    src: url(../fonts/Lato-LightItalic.ttf);
    src: url(../fonts/Lato-Regular.ttf);
    src: url(../fonts/Lato-Thin.ttf);
    src: url(../fonts/Lato-ThinItalic.ttf);
}